{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}


<!-- Start Login Register Area -->
<div class="htc__login__register bg__white ptb--130">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <ul class="login__register__menu" role="tablist">
                    <h1 role="presentation" class="login">Password Confirmed
                    </h1>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Login Register Area -->

{% endblock content %}