{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Password reset complete
{% endblock title %}

{% block content %}


<!-- Start Login Register Area -->
<div class="htc__login__register bg__white ptb--130">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <ul class="login__register__menu" role="tablist">
                    <h1 role="presentation" class="login">Password reset complete
                    </h1>
                </ul>
                <p>Your new password has been set. You can log in now on the
                    <a href="{% url 'login' %}">Log In again</a>
                </p>
            </div>
        </div>
    </div>
</div>
<!-- End Login Register Area -->

{% endblock content %}