<div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
    <div class="htc__shop__left__sidebar">
        <!-- Start Range -->
        <div class="htc-grid-range">
            <h4 class="section-title-4">FILTER BY PRICE</h4>
            <div class="content-shopby">
                <div class="price_filter s-filter clear">
                    <form action="#" method="GET">
                        <div id="slider-range"></div>
                        <div class="slider__range--output">
                            <div class="price__output--wrap">
                                <div class="price--output">
                                    <span>Price :</span><input type="text" id="amount" readonly>
                                </div>
                                <div class="price--filter">
                                    <a href="#">Filter</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- End Range -->
        <!-- Start Product Cat -->
        <div class="htc__shop__cat">
            <h4 class="section-title-4">PRODUCT CATEGORIES</h4>
            <ul class="sidebar__list">
                <li><a href="#">Accessories <span>3</span></a></li>
                <li><a href="#">Book <span>4</span></a></li>
                <li><a href="#">Clothing <span>3</span></a></li>
                <li><a href="#">Homelife <span>6</span></a></li>
                <li><a href="#">Kids & Baby <span>10</span></a></li>
                <li><a href="#">Stationery <span>3</span></a></li>
                <li><a href="#">Health & Beauty <span>12</span></a></li>
                <li><a href="#">Home Appliances <span>15</span></a></li>
            </ul>
        </div>
        <!-- End Product Cat -->
        <!-- Start Color Cat -->
        <div class="htc__shop__cat">
            <h4 class="section-title-4">CHOOSE COLOUR</h4>
            <ul class="sidebar__list">
                <li class="black"><a href="#"><i class="zmdi zmdi-circle"></i>Black<span>3</span></a>
                </li>
                <li class="blue"><a href="#"><i class="zmdi zmdi-circle"></i>Blue <span>4</span></a>
                </li>
                <li class="brown"><a href="#"><i class="zmdi zmdi-circle"></i>Brown <span>3</span></a>
                </li>
                <li class="red"><a href="#"><i class="zmdi zmdi-circle"></i>Red <span>6</span></a></li>
                <li class="orange"><a href="#"><i class="zmdi zmdi-circle"></i>Orange
                        <span>10</span></a></li>
            </ul>
        </div>
        <!-- End Color Cat -->
        <!-- Start Size Cat -->
        <div class="htc__shop__cat">
            <h4 class="section-title-4">PRODUCT CATEGORIES</h4>
            <ul class="sidebar__list">
                <li><a href="#">xl <span>3</span></a></li>
                <li><a href="#">l <span>4</span></a></li>
                <li><a href="#">lm <span>3</span></a></li>
                <li><a href="#">ml <span>6</span></a></li>
                <li><a href="#">m <span>10</span></a></li>
                <li><a href="#">ml <span>3</span></a></li>
            </ul>
        </div>
        <!-- End Size Cat -->
        <!-- Start Tag Area -->
        <div class="htc__shop__cat">
            <h4 class="section-title-4">Tags</h4>
            <ul class="htc__tags">
                <li><a href="#">All</a></li>
                <li><a href="#">Clothing</a></li>
                <li><a href="#">Kids</a></li>
                <li><a href="#">Accessories</a></li>
                <li><a href="#">Stationery</a></li>
                <li><a href="#">Homelife</a></li>
                <li><a href="#">Appliances</a></li>
                <li><a href="#">Clothing</a></li>
                <li><a href="#">Baby</a></li>
                <li><a href="#">Beauty</a></li>
            </ul>
        </div>
        <!-- End Tag Area -->
    </div>
</div>